<div class="main-services-container">

  <div class="page-details">
    <div class="bread-crump-section" *ngIf="serviceData">
      <ng-container *ngFor="let crumb of serviceData.pageData.breadCrumb; let i = index">
        <a *ngIf="crumb.routing; else noLink" [routerLink]="crumb.routing">{{ crumb.name|translate }}</a>
        <ng-template #noLink>
          <p>{{ crumb.name|translate }}</p>
        </ng-template>
        <p *ngIf="i < serviceData.pageData.breadCrumb.length - 1">/</p>
      </ng-container>
    </div>

    <div class="title" *ngIf="serviceData">
      <p>{{ serviceData.pageData.title|translate }}</p>
    </div>

    <div class="desc" *ngIf="serviceData">
      <p>{{ serviceData.pageData.desc|translate }}</p>
    </div>
  </div>
  <div class="container">
    <div class="info d-flex justify-content-start flex-wrap mt-5" *ngIf="serviceData">
      <div class="text flex-grow-1">
        <p class="title">{{ serviceData.firstSection.title|translate }}</p>
        <p class="desc mt-4">{{ serviceData.firstSection.desc|translate }}</p>
      </div>
      <div class="img flex-grow-1">
        <img [src]="serviceData.firstSection.img" alt="first-section-img">
      </div>
    </div>
    <div class="mt-5">
      <div class="mt-5" *ngIf="serviceData">
        <div class="text-center">
          <p class="fz-18">مميزاتنا </p>
          <p class="fz-35">{{ serviceData.secondSection.title|translate }}</p>
        </div>
        <div class="mt-3 d-flex justify-content-start flex-wrap">
          <div class="card box-shadow" *ngFor="let item of serviceData.secondSection.data">
            <div class="w-100 text-center">
              <img src="assets/images/tick-circle.svg" alt="check">
            </div>
            <p class="bold">{{ item.title|translate }}</p>
            <p class="desc">{{ item.desc|translate }}</p>
          </div>
        </div>
      </div>

    </div>
  </div>



  <div class="you mt-5 d-flex justify-content-start flex-wrap" *ngIf="serviceData.thirdSection">
  <div class="text-you flex-grow-1">
    {{ serviceData.thirdSection.title|translate }}
  </div>

  <div class="flex-grow-1">
    <div class="d-flex justify-content-start flex-wrap">
      <div class="card-col" *ngFor="let item of serviceData.thirdSection.data">
        <p class="bold">{{ item.title|translate }}</p>
        <p class="desc">{{ item.desc|translate }}</p>
      </div>
    </div>

    <div class="w-100 mt-3">
      <img [src]="serviceData.thirdSection.img" width="100%" alt="you-section-img">
    </div>
  </div>
</div>


  <div class="container">
    <div class="mt-5">
      <div class="text-center mb-4">
        <p class="bold fz-35">{{ 'service_details.tools_tech_title' | translate }}</p>
      </div>
      <img src="assets/images/tools.svg" width="100%" alt="">
    </div>

   <div class="mt-5 mb-5" *ngIf="serviceData.fourthSection">
  <p class="fz-35 bold">{{ serviceData.fourthSection.title|translate }}</p>

  <div class="mt-4 d-flex justify-content-start flex-wrap">
    <div
      class="card-steps box-shadow"
      *ngFor="let step of serviceData.fourthSection.data"
      [ngClass]="step.color"
    >
      <p class="bold">{{ step.title|translate }}</p>
      <p class="dsc">{{ step.desc|translate }}</p>
    </div>
  </div>
</div>

  </div>

      <app-services></app-services>


</div>
