<div class="main-services-container">

  <div class="page-details">
    <div class="bread-crump-section">
      <a routerLink="/home">{{ 'main_services.breadcrumb_home' | translate }}</a>
      <p>/</p>
      <p>{{ 'main_services.breadcrumb_services' | translate }}</p>
      <p>/</p>
      <p>{{ 'service_details.breadcrumb_design' | translate }}</p>
    </div>

    <div class="title">
      <p>{{ 'service_details.page_title' | translate }}</p>
    </div>

    <div class="desc">
      <p>{{ 'service_details.page_desc' | translate }}</p>
    </div>
  </div>
  <div class="container">
    <div class="info d-flex justify-content-start flex-wrap mt-5">
      <div class="text flex-grow-1">
        <p class="title">{{'service_details.info'|translate}}</p>
        <p class="desc mt-4"> {{'service_details.info_desc'|translate}}</p>

      </div>
      <div class="img flex-grow-1">
        <img src="assets/images/our-design.svg" alt="">

      </div>
    </div>
    <div class="mt-5">
      <div class="text-center">
        <p class="fz-18">{{'service_details.why1'|translate}}</p>
        <p class="fz-35">{{'service_details.why2'|translate}}</p>
      </div>
      <div class="mt-3 d-flex justify-content-start flex-wrap">
        <div class="card box-shadow">
          <div class="w-100 text-center">
            <img src="assets/images/tick-circle.svg" alt="">
          </div>
          <p class="bold">{{'service_details.card1_title'|translate}}</p>
          <p class="desc">{{'service_details.card1_desc'|translate}}</p>
        </div>
        <div class="card box-shadow">
          <div class="w-100 text-center">
            <img src="assets/images/tick-circle.svg" alt="">
          </div>
          <p class="bold">{{'service_details.card2_title'|translate}}</p>
          <p class="desc">{{'service_details.card2_desc'|translate}}</p>
        </div>
        <div class="card box-shadow">
          <div class="w-100 text-center">
            <img src="assets/images/tick-circle.svg" alt="">
          </div>
          <p class="bold">{{'service_details.card3_title'|translate}}</p>
          <p class="desc">{{'service_details.card3_desc'|translate}}</p>
        </div>
        <div class="card box-shadow">
          <div class="w-100 text-center">
            <img src="assets/images/tick-circle.svg" alt="">
          </div>
          <p class="bold">{{'service_details.card4_title'|translate}}</p>
          <p class="desc">{{'service_details.card4_desc'|translate}}</p>
        </div>
      </div>
    </div>
  </div>



  <div class="you mt-5 d-flex justify-content-start flex-wrap">
    <div class="text-you flex-grow-1">
      {{ 'service_details.you_section_title' | translate }}
    </div>
    <div class="flex-grow-1">
      <div class="d-flex justify-content-start flex-wrap">
        <div class="card-col">
          <p class="bold">{{ 'service_details.highly_experienced_team_title' | translate }}</p>
          <p class="desc">{{ 'service_details.highly_experienced_team_desc' | translate }}</p>
        </div>
        <div class="card-col">
          <p class="bold">{{ 'service_details.modern_interactive_sites_title' | translate }}</p>
          <p class="desc">{{ 'service_details.modern_interactive_sites_desc' | translate }}</p>
        </div>
        <div class="card-col">
          <p class="bold">{{ 'service_details.smooth_platform_integration_title' | translate }}</p>
          <p class="desc">{{ 'service_details.smooth_platform_integration_desc' | translate }}</p>
        </div>
        <div class="card-col">
          <p class="bold">{{ 'service_details.credibility_impression_title' | translate }}</p>
          <p class="desc">{{ 'service_details.credibility_impression_desc' | translate }}</p>
        </div>
      </div>
      <div class="w-100 mt-3">
        <img src="assets/images/you-frame.svg" width="100%" alt="">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="mt-5">
      <div class="text-center mb-4">
        <p class="bold fz-35">{{ 'service_details.tools_tech_title' | translate }}</p>
      </div>
      <img src="assets/images/tools.svg" width="100%" alt="">
    </div>

    <div class="mt-5 mb-5">
      <p class="fz-35 bold">{{ 'service_details.steps_title' | translate }}</p>
      <div class="mt-4 d-flex justify-content-start flex-wrap">
        <div class="card-steps box-shadow color-1">
          <p class="bold">{{ 'service_details.step_1_title' | translate }}</p>
          <p class="dsc">{{ 'service_details.step_1_desc' | translate }}</p>
        </div>
        <div class="card-steps box-shadow color-2">
          <p class="bold">{{ 'service_details.step_2_title' | translate }}</p>
          <p class="dsc">{{ 'service_details.step_2_desc' | translate }}</p>
        </div>
        <div class="card-steps box-shadow color-3">
          <p class="bold">{{ 'service_details.step_3_title' | translate }}</p>
          <p class="dsc">{{ 'service_details.step_3_desc' | translate }}</p>
        </div>
        <div class="card-steps box-shadow color-2">
          <p class="bold">{{ 'service_details.step_4_title' | translate }}</p>
          <p class="dsc">{{ 'service_details.step_4_desc' | translate }}</p>
        </div>
        <div class="card-steps box-shadow color-3">
          <p class="bold">{{ 'service_details.step_5_title' | translate }}</p>
          <p class="dsc">{{ 'service_details.step_5_desc' | translate }}</p>
        </div>
        <div class="card-steps box-shadow color-1">
          <p class="bold">{{ 'service_details.step_6_title' | translate }}</p>
          <p class="dsc">{{ 'service_details.step_6_desc' | translate }}</p>
        </div>
        <div class="card-steps box-shadow color-3">
          <p class="bold">{{ 'service_details.step_7_title' | translate }}</p>
          <p class="dsc">{{ 'service_details.step_7_desc' | translate }}</p>
        </div>
        <div class="card-steps box-shadow color-1">
          <p class="bold">{{ 'service_details.step_8_title' | translate }}</p>
          <p class="dsc">{{ 'service_details.step_8_desc' | translate }}</p>
        </div>
        <div class="card-steps box-shadow color-2">
          <p class="bold">{{ 'service_details.step_9_title' | translate }}</p>
          <p class="dsc">{{ 'service_details.step_9_desc' | translate }}</p>
        </div>
        <div class="card-steps box-shadow color-1">
          <p class="bold">{{ 'service_details.step_10_title' | translate }}</p>
          <p class="dsc">{{ 'service_details.step_10_desc' | translate }}</p>
        </div>
      </div>
    </div>
  </div>

</div>
