  <app-second-navbar></app-second-navbar>

  <div class="main-services-container">

  <div class="page-details">
    <div class="bread-crump-section">
      <a routerLink="/home">{{ 'الرئيسية' | translate}}</a>
      <p>/</p>
      <p>خدماتنا</p>
       <p>/</p>
      <p>تصميم المواقع</p>
    </div>
    <div class="title">
      <p> تصميم مواقع تسبق توقعاتك</p>
    </div>
    <div class="desc">
      <p>مواقع سريعة، عصرية، وفعالة... مصممة لتُبرز علامتك وتحقّق أهدافك</p>
    </div>
  </div>

  <div class="container" >
     <div class="info d-flex justify-content-start flex-wrap mt-5">
        <div class="text">
             <p class="title">{{'تصميم إبداعي يحوّل الأفكار إلى واقع'}}</p>
         <p class="desc"> {{'من الهوية البصرية إلى تجربة المستخدم… نقدم حلول تصميم تعكس احترافك وتُبرز علامتك بأعلى جودة'}}</p>
   
        </div>
       <div class="img">
                <img src="assets/images/our-design.svg" alt="">

       </div>
    </div>
    <div class="mt-5">
       <div class="text-center">
         <p class="fz-18">{{'مميزاتنا'}}</p>
        <p class="fz-35">{{'لماذا تصميم مواقعنا يستحق ثقتك؟'}}</p>
       </div>
        <div class="mt-3 d-flex justify-content-start flex-wrap">
            <div class="card box-shadow">
                <div class="w-100 text-center">
                    <img src="assets/images/tick-circle.svg" alt="">
                </div>
                <p class="bold">{{'تصميم مخصص لهويتك'}}</p>
                <p class="desc">{{'نبتكر واجهات تعكس شخصية علامتك بدقة وتترك انطباعًا لا يُنسى.'}}</p>
            </div>
            <div class="card box-shadow">
                <div class="w-100 text-center">
                    <img src="assets/images/tick-circle.svg" alt="">
                </div>
                <p class="bold">{{'تجربة مستخدم ذكية'}}</p>
                <p class="desc">{{'نصمم بتجربة مدروسة تجعل التصفح سهلًا وسلسًا لعملائك'}}</p>
            </div>
            <div class="card box-shadow">
                <div class="w-100 text-center">
                    <img src="assets/images/tick-circle.svg" alt="">
                </div>
                <p class="bold">{{' أداء عالي وسرعة استجابة'}}</p>
                <p class="desc">{{'مواقع سريعة وآمنة تعمل بكفاءة على كل الأجهزة والمتصفحات'}}</p>
            </div>
            <div class="card box-shadow">
                <div class="w-100 text-center">
                    <img src="assets/images/tick-circle.svg" alt="">
                </div>
                <p class="bold">{{' دعم واستمرارية '}}</p>
                <p class="desc">{{'نرافقك بعد التسليم لضمان استقرار موقعك وتطوره المستمر'}}</p>
            </div>
        </div>
    </div>
  </div>
  </div>