<div class="main-services-container">
  <div class="page-details">
    <div class="bread-crump-section">
      <a routerLink="/home">{{ 'main_services.breadcrumb_home' | translate }}</a>
      <p>/</p>
      <p>{{ 'main_services.breadcrumb_services' | translate }}</p>
    </div>

    <div class="title">
      <p>{{ 'main_services.page_title' | translate }}</p>
    </div>

    <div class="desc">
      <p>{{ 'main_services.page_desc' | translate }}</p>
    </div>
  </div>

  <div class="tabs-section">
    <ng-container *ngFor="let tab of tabsList">
      <p (click)="onTabClick(tab.id)" [class.active-tab]="tab.status">
        {{ tab.name | translate }}
      </p>
    </ng-container>
  </div>

 <div class="container cards-section">
  <div class="row justify-content-center">
    <div class="col-lg-3 col-md-6 col-sm-12 mb-4" *ngFor="let card of selectedCards">
      <div class="card-content">
        <div class="img-section">
          <img [src]="card.img" alt="card-img" />
        </div>
        <div class="title">
          <p>{{ card.title | translate }}</p>
        </div>
        <div class="desc">
          <p>{{ card.desc | translate }}</p>
        </div>
        <div class="routing" style="cursor: pointer;">
          <a (click)="goToServicesdetails(card.serviceId)"> {{ 'main_services.know_more' | translate}} <img src="assets/images/more.svg" alt="" /></a>
        </div>
      </div>
    </div>
  </div>
</div>


  <div class="details-section container">
    <div class="title">
      <button class="take-step-btn">خذ خطو الان </button>
      <p>دعونا ننشئ مشروعك الكبير القادم معًا</p>
    </div>
    <div class="desc">
      <p>لنعمل معًا لتحويل رؤيتك إلى واقع. تواصل معنا اليوم لحجز استشارة واتخاذ الخطوة الأولى نحو تحقيق إنجاز مذهل معًا.
        هدفنا الأسمى هو تحقيق نتائج تفوق توقعاتك.</p>
      <a class="contact-btn" href="https://wa.me/966506556676" target="_blank" aria-label="Contact us on WhatsApp">
        {{'nav_bar.contact'|translate}}
      </a>
    </div>
  </div>
</div>
