<app-second-navbar></app-second-navbar>

<div class="main-services-container">
  <div class="page-details">
    <div class="bread-crump-section">
      <a routerLink="/home">{{ 'main_services.breadcrumb_home' | translate }}</a>
      <p>/</p>
      <p>{{ 'main_services.breadcrumb_services' | translate }}</p>
    </div>

    <div class="title">
      <p>{{ 'main_services.page_title' | translate }}</p>
    </div>

    <div class="desc">
      <p>{{ 'main_services.page_desc' | translate }}</p>
    </div>
  </div>

  <div class="tabs-section">
    <ng-container *ngFor="let tab of tabsList">
      <p (click)="onTabClick(tab.id)" [class.active-tab]="tab.status">
        {{ tab.name | translate }}
      </p>
    </ng-container>
  </div>

  <div class="cards-section">
    <ng-container *ngFor="let card of selectedCards">
      <div class="card-content">
        <div class="img-section">
          <img [src]="card.img" alt="card-img" />
        </div>
        <div class="title">
          <p>{{ card.title | translate }}</p>
        </div>
        <div class="desc">
          <p>{{ card.desc | translate }}</p>
        </div>
        <div class="routing">
          <a href="#">
            {{ 'main_services.know_more' | translate }}
            <img src="assets/images/more.svg" alt="" />
          </a>
        </div>
      </div>
    </ng-container>
  </div>
</div>
