<div class="erb-section-container container">
  <div class="content">
    <div class="title">
      <p>{{ 'ERP.TITLE' | translate }}</p>
    </div>

    <div class="details row mt-4">
      <div class="item col-lg-6 col-md-12 col-sm-12 mt-2">
        <div class="contents">
          <div class="titles">
            <p>{{ 'ERP.SECTIONS.EFFICIENCY.TITLE' | translate }}</p>
          </div>
          <div class="desc">
            <p>{{ 'ERP.SECTIONS.EFFICIENCY.DESC' | translate }}</p>
          </div>
        </div>
      </div>
      <div class="item col-lg-6 col-md-12 col-sm-12 mt-2">
        <div class="contents">
          <div class="titles">
            <p>{{ 'ERP.SECTIONS.INTEGRATION.TITLE' | translate }}</p>
          </div>
          <div class="desc">
            <p>{{ 'ERP.SECTIONS.INTEGRATION.DESC' | translate }}</p>
          </div>
        </div>
      </div>
      <div class="item col-lg-6 col-md-12 col-sm-12 mt-2">
        <div class="contents">
          <div class="titles">
            <p>{{ 'ERP.SECTIONS.STRATEGY.TITLE' | translate }}</p>
          </div>
          <div class="desc">
            <p>{{ 'ERP.SECTIONS.STRATEGY.DESC' | translate }}</p>
          </div>
        </div>
      </div>
      <div class="item col-lg-6 col-md-12 col-sm-12 mt-2">
        <div class="contents">
          <div class="titles">
            <p>{{ 'ERP.SECTIONS.CUSTOMER_SATISFACTION.TITLE' | translate }}</p>
          </div>
          <div class="desc">
            <p>{{ 'ERP.SECTIONS.CUSTOMER_SATISFACTION.DESC' | translate }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
