<div class="bk-video">
  <nav class="navbar navbar-expand-sm fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand animate__animated animate__heartBeat" routerLink="/">
        <img src="assets/images/white_logo.svg" height="20" alt="" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapsibleNavbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav animate__animated animate__bounce">
          <li class="nav-item">
            <a
              class="nav-link"
              [class.active]="router.url == '/home'"
              href="/home"
              >{{ "nav_bar.home" | translate }}</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [class.active]="router.url.includes('#about')"
              href="#about"
            >
              {{ "nav_bar.about" | translate }}</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [class.active]="router.url.includes('#services')"
              href="#services"
              >{{ "nav_bar.services" | translate }}</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [class.active]="router.url.includes('#works')"
              href="#works"
              >{{ "nav_bar.works" | translate }}</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [class.active]="router.url.includes('#partner')"
              href="#partner"
              >{{ "nav_bar.partner" | translate }}</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [class.active]="router.url.includes('#contact')"
              href="#contact"
            >
              {{ "nav_bar.contact" | translate }}</a
            >
          </li>
          <li class="nav-item lang-sm">
            <div class="d-flex"(click)="toggleLanguage()">
              <span>
                <span *ngIf="selectedLang=='en'">
                  {{'nav_bar.english'|translate}} 
                 </span>
                 <span *ngIf="selectedLang=='ar'">
                  {{'nav_bar.arabic'|translate}} 
                 </span>
              </span>
               <img  src="assets/images/Flags.svg" alt="">
              </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="lang text-white d-flex animate__animated animate__rubberBand"(click)="toggleLanguage()">
    <span>
      <span *ngIf="selectedLang=='en'">
        {{'nav_bar.english'|translate}} 
       </span>
       <span *ngIf="selectedLang=='ar'">
        {{'nav_bar.arabic'|translate}} 
       </span>
    </span>
     <img  src="assets/images/Flags.svg" alt="">
    </div>
    <!-- <button class="lang-btn" (click)="toggleLanguage()">
      click
    </button> -->
  </nav>
  <div class="info text-center p-3 animate__animated animate__fadeInDown">
    <p class="text-info1">{{ "nav_bar.info1" | translate }}</p>
    <p class="text-info2">{{ "nav_bar.info2" | translate }}</p>
    <p class="text-info3">{{ "nav_bar.info3" | translate }}</p>
    <p class="text-info4">
      {{ "nav_bar.info4" | translate }}
    </p>
  </div>
</div>
