<div class="bk-video">
  <nav class="navbar navbar-expand-sm fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">
        <img src="assets/images/white_logo.svg" height="20" alt="">
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapsibleNavbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a
              class="nav-link text-white"
              routerLink="/home"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >{{"الرئيسية"|translate}}</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-white"
              href="#about"
              routerLinkActive="active"
              >من نحن</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-white"
              href="#services"
              routerLinkActive="active"
              >خدماتنا</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-white"
              href="#works"
              routerLinkActive="active"
              >اعمالنا</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-white"
              href="#partner"
              routerLinkActive="active"
              >شركاء النجاح</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-white"
              href="#contact"
              routerLinkActive="active"
              >تواصل معنا</a
            >
          </li>
        </ul>
      </div>
    </div>
    <!-- <button class="lang-btn" (click)="toggleLanguage()">
      click
    </button> -->
  </nav>
  <div class="info text-center p-3">
   
      <p>ابتكار حلول تكنولوجية تصنع الفارق</p>
    <p>نحن نبني مستقبل التكنولوجيا، بحلول ذكية تواكب احتياجاتك</p>
    <p>نقدم لك حلولاً برمجية مبتكرة ومخصصة تضمن لك التميز في عالم الأعمال. من تطوير الأنظمة إلى إدارة 
      </p>
    <p>البيانات، نحن شركاؤك في تحقيق النجاح الرقمي</p>
  </div>
</div>

