div.bk-video {
  // position: fixed;
  // top: 0;
  // right: 0;
  // left: 0;
  // z-index: 9999;
  background: url("../../../assets/images/bk_video.gif") no-repeat center center;
  background-size: cover;
  height: 500px;
  nav {
    background: url("../../../assets/images/bk_video.gif") no-repeat center
      center;
    background-size: cover;
    border-bottom: 1px solid #fff;
    padding-right: 5%;
    .btn-toggle {
      color: #fff;
    }
    ul {
      // background-color: green;
      width: 100%;
      li {
        a {
          margin: 0px 10px;
          font-size: 1rem;
          color: #EEEEEE;
          opacity: 0.9;
        }
      }
    }
  }
  .info {
    color: #fff;
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70vh;
  }
}
.active{
    color: #fff!important;
    font-weight: bolder;
    opacity: unset!important;
}
@media screen and (max-width: 575px) {
  nav {
    padding: unset !important;
    .navbar-collapse {
      background-color: white !important;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
      border-radius: 0 0 8px 8px;
      padding: 1rem;
      margin: 10px -13px -3px -13px;
      .nav-link {
        color: #555555 !important; // darker text on white
      }
    }
    
  }
  .info{
    font-size: 1.5rem!important;
  }

}
