div.bk-video {
  background: url("../../../assets/images/bk_video.gif") no-repeat center center;
  background-size: cover;
  height: 500px;
  nav {
    background: url("../../../assets/images/bk_video.gif") no-repeat center
      center;
    background-size: cover;
    border-bottom: 1px solid #fff;
    padding-right: 5%;
    .btn-toggle {
      color: #fff;
    }
    ul {
      // background-color: green;
      width: 100%;
      li {
        a {
          margin: 0px 10px;
          font-size: 1rem;
          color: #eeeeee;
          opacity: 0.9;
        }
      };
      .lang-sm {
          display: none;
          margin: 0px 10px;
          font-size: 1rem;
          color: #eeeeee;
          opacity: 0.9;
          span {
            cursor: pointer;
          }
          img {
            margin: 0px 5px;
            cursor: pointer;
          }
        }
    }
    .lang {
      margin: 0px 30px;
      span {
        cursor: pointer;
      }
      img {
        margin: 0px 5px;
        cursor: pointer;
      }
    }
  }
  .info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 78vh;
    .text-info1 {
      font-size: 1.3rem !important;
      color: #e3e3e3;
      font-weight: 300;
    }
    .text-info2 {
      font-size: 1.7rem !important;
      color:#fff;
      font-weight:600;
      margin: 15px 0px;
    }
    .text-info3 {
      font-size: 1.4rem !important;
       color: #e3e3e3;
       font-weight: 300;
    }
    .text-info4 {
      font-size: 1.4rem !important;
       color: #e3e3e3;
       font-weight: 300;
    }
  }
}
.active {
  color: #fff !important;
  font-weight: bolder;
  opacity: unset !important;
}
@media screen and (max-width: 575px) {
  nav {
    padding: unset !important;
    height: 55px;
    .navbar-collapse {
      background-color: white !important;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
      border-radius: 0 0 8px 8px;
      padding: 1rem;
      margin: 10px -13px -3px -13px;
      .nav-link,
      .lang-sm {
        color: #555555 !important;
      }
      .lang-sm {
        display: block !important;
      }
    }
    .lang {
      display: none !important;
    }
    
  }
  .info {
    font-size: 1.4rem !important;
  }
}
