<div class="page" id="partner">
  <h1 class="primary-text mt-3 hidden">modwana</h1>
  <div
    class="d-flex justify-content-start flex-wrap animate__animated animate__backInLeft animate__delay-1s"
  >
    <div class="w-50 min-width-350 flex-grow-1">
     <div class="w-80">
       <p class="second-text mt-3">{{ "modwana.title" | translate }}</p>
      <span class="primary-text">{{ "modwana.p1" | translate }} </span>

      <div>
        <p class="second-text mt-3">{{ "modwana.details" | translate }}</p>
      </div>
      <div class="text-start mt-5">
        <button class="btn btn-primary">{{ "modwana.more" | translate }}</button>
      </div>
     </div>
    </div>
    <div class="w-50 mdw flex-grow-1">
      <div class="d-flex justify-content-start flex-wrap">
        <img class="mdw-img flex-grow-1" src="assets/images/mdwona1.svg"  alt="" />
        <div class="flex-basis-70">
          <p class="fz-24">{{ "modwana.mwd_1" | translate }}</p>

          <div class="mt-3 calender">
            <img src="assets/images/calendar-edit.svg" alt="" />
            <span>{{langService.currentLang =='en'?"17 Aug 2024":  "17 أغسطس 2024" }}</span>
          </div>
        </div>
      </div>
      <hr />
      <div class="d-flex justify-content-start flex-wrap">
        <img class="mdw-img flex-grow-1" src="assets/images/mdwona2.svg" alt="" />
        <div class="flex-basis-70">
          <p class="fz-24">{{ "modwana.mwd_2" | translate }}</p>

          <div class="mt-3 calender">
            <img src="assets/images/calendar-edit.svg" alt="" />
            <span>{{langService.currentLang =='en'?"17 Aug 2024":  "17 أغسطس 2024" }}</span>
          </div>
        </div>
      </div>
      <hr />
      <div class="d-flex justify-content-start flex-wrap">
        <img class="mdw-img flex-grow-1" src="assets/images/mdwona3.svg" alt="" />
        <div class="flex-basis-70">
          <p class="fz-24">{{ "modwana.mwd_3" | translate }}</p>
          <div class="mt-3 calender">
            <img src="assets/images/calendar-edit.svg" alt="" />
            <span>{{langService.currentLang =='en'?"17 Aug 2024":  "17 أغسطس 2024" }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
