
.min-width-350 {
  min-width: 300px;
}
.w-80{
    width: 80%;
}
.mdw {
  div {
    margin-top: 10px;
    .fz-24 {
      font-size: 24px;
      font-weight: 600;
      margin: 0px 10px;
    }
    .flex-basis-70{
        flex-basis: 76%;
    }
    .calender{
        color: #808080;
        padding: 0px 10px;
        font-size: 14px;
    }
  }
}

hr{
    border: 1px solid #D6D4D4 ;
}
button{
    background-color: #031AAF;
    color: #ffff;
    border-radius: 16px;
    padding: 5px 50px;
}

@media screen and (max-width: 1248px) {
    .mdw{
        margin-top: 30px;
    }
    .flex-basis-70{
        flex-basis: unset!important;
    }
}
.mdw-img{
  max-width: 275px;
}