<div class="page" id="partner">
   <h1 class="primary-text mt-3 hidden">partner</h1>
    <div class="animate__animated animate__backInLeft animate__delay-1s">
     <div>
        <span class="primary-text">{{'partner.title'|translate}} </span>
     <p class="second-text mt-3"> {{'partner.p1'|translate}}</p>
     </div>
    
    </div>
    <div class="card-container row  mt-5 animate__animated animate__backInRight animate__delay-2s">
       <div  class="col-md-4 col-lg-4 col-sm-6" *ngFor="let item of partners">
        <div class="card m-2 box-shadow">
                    <img [src]="item.image"  alt="">
        </div>
       </div >
    </div>
 </div>