<div  class="page" id="services">
    <h1 class="primary-text mt-3 hidden">services</h1>
   <span class="second-text">خدمتنا</span>
    <div class="row mb-5">
     <div class="col-md-4 col-lg-4 col-sm-12">
         <p class="primary-text mt-3 lh-40">حلول مبتكرة لتحويل أعمالك رقميًا</p>
     </div>
     <div class="mt-3 col-md-8 col-md-8 col-sm-12">
        <p class="second-text fz-30 lh-40">نهدف لتقديم حلول برمجية مرنة ومتطورة تلبي احتياجات السوق المحلية والدولية، مع التركيز على الجودة والابتكار لتحقيق نجاح مشترك</p>
     </div>
    </div>
    <div class="card-container row mt-5">
       <div class="ng-cont col-md-4 col-lg-4 col-sm-6" *ngFor="let item of services">
        <div class="card m-2 text-center">
                <div class="w-100">
                    <img [src]="item.image" width="50" alt="">
                </div>
            <span> {{item.name}}</span>
        </div>
      </div>
    </div>
 </div>