


    .card {
      min-height: 170px;
      border: none;
      border-radius: 23px;
      padding: 30px 20px;
      background-color: #E6EDFF;
      span {
        margin-top: 15px;
        font-weight: 700;
        font-size: 1rem;
        line-height: 38.4px;
        letter-spacing: 0%;
        text-align: center;
        vertical-align: middle;

      }
    }



.maxWidth_350 {
  max-width: 320px !important;
}
