<div class=" container" id="services">
  <h1 class="primary-text mt-3 d-none">services</h1>

  <span class="second-text animate__animated animate__fadeInDown animate__delay-1s">
    {{ "services.title" | translate }}
  </span>

  <div class="row mb-5 animate__animated animate__backInRight">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <p class="primary-text mt-3 lh-40">{{ "services.p1" | translate }}</p>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12 mt-3">
      <p class="second-text fz-30 lh-40">{{ "services.p2" | translate }}</p>
    </div>
  </div>
  <div
    class="card-container d-flex justify-content-start flex-wrap mt-5 animate__animated animate__backInLeft animate__delay-2s"
  >
    <div class="ng-cont" *ngFor="let item of services">
      <div class="card m-2 text-center box-shadow">
        <ng-container>
          <div class="w-100">
            <img [src]="item?.image" width="50" alt="" />
          </div>
          <span> {{ item?.name | translate }}</span>
        </ng-container>
        <div
          class="footer text-start"
          [class.arabicDirection]="currentLang == 'ar'"
        >
          <img
            (click)="selectedService(item.id)"
            data-bs-toggle="modal"
            data-bs-target="#myModal"
            src="assets/images/arrow-left.svg"
            width="30"
            alt=""
          />

          <span
            (click)="selectedService(item.id)"
            data-bs-toggle="modal"
            data-bs-target="#myModal"
          >
            {{ "services.more" | translate }}</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <div class="w-100">
          <h4 class="bold">
            <img [src]="selectedData?.image" width="50" alt="" />
            <span> {{ selectedData?.name | translate }}</span>
          </h4>
        </div>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="asd">
          <div
            class="mt-2"
            [class]="currentLang == 'en' ? 'text-start' : 'text-end'"
          >
            <div class="" *ngFor="let details of selectedData?.details">
              <p *ngIf="details.id == 0" class="bold">
                {{ details.name | translate }}
              </p>
              <div class="d-flex justify-content-start">
                <p *ngIf="details.id > 0">{{ details.name | translate }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          {{ "services.close" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
