.card-container {
  .card {
    background-color: #e6edff;
    height: 200px;
    min-width: 100%;
    border: 1px solid #e6edff;
    border-radius: 23px;
    padding: 30px 20px 10px 20px;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    span {
      margin-top: 15px;
      font-weight: 700;
      font-size: 1rem;
      line-height: 38.4px;
      letter-spacing: 0%;
      text-align: center;
      vertical-align: middle;
    }

    .footer {
      margin-top: 10px;
      color: #031aaf;

      span {
        font-size: 13px;
      }
    }

    .read-more {
      // padding-top: 50px;
      // position: relative;
      // top: 45px;
    }
  }
}

.arabicDirection {
  direction: ltr !important;
}

.bkg-blue {
  background-color: #031aaf !important;
  color: #fff;
  min-height: 300px;
  .card-body {
    display: flex;
    justify-content: center!important;
    justify-items: center!important;
    align-items: center!important;
    margin-bottom: 25px;
  }
  span,
  p {
    color: #fff;
  }
}

@media (max-width: 500px) {
  .second-text {
    font-size: 15px !important;
  }
}
.gray {
  color: #808080;
}
.fz-20 {
  font-size: 20px;
}
