<div class=" container" id="services">
  <h1 class="primary-text mt-3 d-none">services</h1>

  <span class="second-text animate__animated animate__fadeInDown animate__delay-1s">
    {{ "services.title" | translate }}
  </span>

  <div class="row mb-5 animate__animated animate__backInRight">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <p class="primary-text mt-3 lh-40">{{ "services.p1" | translate }}</p>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12 mt-3">
      <p class="second-text fz-30 lh-40">{{ "services.p2" | translate }}</p>
    </div>
  </div>

  <div class="row mt-5 animate__animated animate__backInLeft animate__delay-2s">
    <div
      class="col-lg-4 col-md-6 col-sm-12 mb-4"
      *ngFor="let item of services"
    >
      <div class="card text-center box-shadow p-3 h-100">
        <img [src]="item?.image" width="90" alt="Service Icon" class="mx-auto mb-2" />
        <span>{{ item?.name | translate }}</span>
      </div>
    </div>
  </div>
</div>
