.second-navbar-congtainer {
  .contnet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 92px;
    padding: 10px;

    .logo {
      img {}
    }

    .routing-section {
      display: flex;
      gap: 20px;
      align-items: center;

      a {
        text-decoration: none;
        color: black;
        &:hover {
          color: #141aaf;
        }
      }
    }

    .lang-section {
      display: flex;
      gap: 10px;
      align-items: center;
      cursor: pointer;
      img {
        border-radius: 4px;
      }
    }
  }
}
