<div class="page" id="works">
    <div class="">
     <div class="text-center">
        <span class="second-text">اعمالنا</span>
     <p class="primary-text mt-3">مشاريعنا المبتكرة التي تحقق النجاح وتلهم المستقبل</p>
    
     <span class="second-text">من خلال حلول تقنية مبدعة وتجارب برمجية متميزة، نحن نقدم لك نتائج فعلية تتخطى التوقعات. استعرض أعمالنا التي تتميز بالجودة والابتكار في كل مجال</span>
    </div>
     
    </div>
    <div class="card-container mt-3 d-flex justify-content-start flex-wrap mt-5">
         <div class="m-2">
            <img src="assets/images/app.svg" width="350" alt="">
         </div>
         <div class="m-2">
            <img src="assets/images/app.svg" width="350" alt="">
         </div>
         <div class="m-2">
            <img src="assets/images/app.svg" width="350" alt="">
         </div>
    </div>
 </div>