<div class="page" id="works">
   <h1 class="primary-text mt-3 hidden">works</h1>
  <div class="">
    <div class="text-center">
      <span class="second-text">اعمالنا</span>
      <p class="primary-text mt-3">
        مشاريعنا المبتكرة التي تحقق النجاح وتلهم المستقبل
      </p>

      <span class="second-text"
        >من خلال حلول تقنية مبدعة وتجارب برمجية متميزة، نحن نقدم لك نتائج فعلية
        تتخطى التوقعات. استعرض أعمالنا التي تتميز بالجودة والابتكار في كل
        مجال</span
      >
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-4 col-lg-4 col-sm-6 mt-4">
      <img src="assets/images/app.svg" width="100%" alt="" />
    </div>
    <div class="col-md-4 col-lg-4 col-sm-6  mt-4">
      <img src="assets/images/app.svg" width="100%" alt="" />
    </div>
    <div class="col-md-4 col-lg-4 col-sm-6  mt-4">
      <img src="assets/images/app.svg" width="100%" alt="" />
    </div>
  </div>
</div>
