<div class="page" id="works">
  <h1 class="primary-text mt-3 hidden">works</h1>
  <div class="">
    <div class="text-center">
      <span class="second-text">{{ "works.title" | translate }}</span>
      <p class="primary-text mt-3">
        {{ "works.p1" | translate }}
      </p>

      <span class="second-text">
        {{ "works.p2" | translate }}
      </span>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-4 col-lg-4 col-sm-6 mt-4">
      <img src="assets/images/work1.svg" width="100%" alt="" />
    </div>
    <div class="col-md-4 col-lg-4 col-sm-6 mt-4">
      <img src="assets/images/work2.svg" width="100%" alt="" />
    </div>
    <div class="col-md-4 col-lg-4 col-sm-6 mt-4">
      <img src="assets/images/work3.svg" width="100%" alt="" />
    </div>
  </div>
</div>
