<div id="contact">
  <h1 class="primary-text mt-3 hidden">contact</h1>
  <div class="bkg text-white mt-3 mb-3">
    <p>نحن هنا لدعمك</p>
    <p class="fz-35">
      نسعد بالإجابة على استفساراتك ومساعدتك في تحقيق أهدافك الرقمية
    </p>
  </div>
  <div class="page mt-4">
    <p class="second-text">تواصل معنا</p>
    <p class="bold fz-35">
      دعنا نتواصل ونجعل
      <span class="text-yellow">أفكارك حقيقة</span>
    </p>
    <div class="card-container row mt-2">
      <div class="card card-yellow col-md-5 col-lg-5 col-sm-12">
        <div class="data-card">
          <img src="assets/images/contact_2.svg" width="50" alt="" />
        <span class="bold block fz-20 mt-3">تواصل معنا</span>
        <div class="d-flex justify-content-start">
          <span class="block"> رقم الهاتف </span>
          <span class="block reverse"> +966 4567 123 </span>
        </div>
        <div class="d-flex justify-content-start">
          <span class="block"> رقم جوال </span>
          <span class="block reverse"> +966 4567 123 </span>
        </div>
        </div>
      </div>
      <div class="card card-gray col-md-5 col-lg-5 col-sm-12">
        <div class="data-card">
          <img src="assets/images/contact_1.svg" width="50" alt="" />
        <span class="bold block fz-20 mt-3"> مواعيد العمل</span>
        <span class="block fz-20"> من الاحد الي الخميس</span>
        <div class="d-flex justify-content-start">
          <span class="block"> الفترة الصباحية </span>
          <span class="block">
            <span> 09:00 صباحا </span> -
            <span> 01:00 ظهرا </span>
          </span>
        </div>
        <div class="d-flex justify-content-start">
          <span class="block"> الفترة المسائية </span>
          <span class="block">
            <span> 04:00 عصرا </span> -
            <span> 08:00 مساءا </span>
          </span>
        </div>
        <span class="block fz-20"> (توقيت المملكة العربية السعودية)</span>
        </div>
      </div>
    </div>
  </div>
 
</div>
