<div class="crm-section-container container">
  <div class="content row">
    <div class="title-desc-section">
      <div class="title mt-3">
        <p>{{ 'CRM.TITLE' | translate }}</p>
      </div>
      <div class="desc mt-3">
        <p>{{ 'CRM.DESCRIPTION' | translate }}</p>
      </div>
    </div>
    <div class="details-section ">
      <div class="first-section mt-3">
        <div class="row-one rows-details">
          <div class="item">
            <img src="assets/images/tick-circle.svg" width="30" alt="tick-circle">
            <div class="title">
              <p>{{ 'CRM.SECTIONS.ENGAGEMENT.TITLE' | translate }}</p>
            </div>
            <div class="desc">
              <p>{{ 'CRM.SECTIONS.ENGAGEMENT.DESC' | translate }}</p>
            </div>
          </div>
          <div class="item">
            <img src="assets/images/tick-circle.svg" width="30" alt="tick-circle">
            <div class="title">
              <p>{{ 'CRM.SECTIONS.LOYALTY.TITLE' | translate }}</p>
            </div>
            <div class="desc">
              <p>{{ 'CRM.SECTIONS.LOYALTY.DESC' | translate }}</p>
            </div>
          </div>
        </div>
        <div class="row-two rows-details">
          <div class="item">
            <img src="assets/images/tick-circle.svg" width="30" alt="tick-circle">
            <div class="title">
              <p>{{ 'CRM.SECTIONS.PRODUCTIVITY.TITLE' | translate }}</p>
            </div>
            <div class="desc">
              <p>{{ 'CRM.SECTIONS.PRODUCTIVITY.DESC' | translate }}</p>
            </div>
          </div>
          <div class="item">
            <img src="assets/images/tick-circle.svg" width="30" alt="tick-circle">
            <div class="title">
              <p>{{ 'CRM.SECTIONS.INSIGHTS.TITLE' | translate }}</p>
            </div>
            <div class="desc">
              <p>{{ 'CRM.SECTIONS.INSIGHTS.DESC' | translate }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="second-section mt-3">
        <img src="assets/images/crm.svg" alt="crm">
      </div>
    </div>
  </div>
</div>
