<div class="page" id="about">
  <h1 class="primary-text mt-3 hidden">about</h1>
<div class="row">
 <div class="col-md-6 col-lg-6 col-sm-12 animate__animated animate__backInRight animate__delay-1s">
     <span class="bold fz-25">
        {{ "about.why" | translate }}
      </span>
   <p class="second-text mt-3">
        {{ "about.p0" | translate }}
      </p>
        <p class="second-text mt-3">
        {{ "about.p0_1" | translate }}
      </p>
        <p class="second-text mt-3">
        {{ "about.p0_2" | translate }}
      </p>
        <p class="second-text mt-3">
        {{ "about.p0_3" | translate }}
      </p>
          <p class="second-text mt-3">
        {{ "about.p0_4" | translate }}
      </p>
  </div>
      <div class="mt-3 col-md-6 col-lg-6 col-sm-12 animate__animated animate__backInLeft animate__delay-2s">
      <span class="bold fz-25">
        {{ "about.who" | translate }}
      </span>
      <p class="second-text mt-3">
        {{ "about.p1" | translate }}
      </p>
       <p class="second-text mt-3">
        {{ "about.p1_1" | translate }}
      </p>
      </div>
</div>
   
  <div class="row">
    <div class="col-md-6 col-lg-6 col-sm-12 animate__animated animate__backInRight animate__delay-1s">
      <img src="assets/images/about-us-new.svg" width="90%" height="auto" alt="" />
    </div>
    <div class="mt-3 col-md-6 col-lg-6 col-sm-12 animate__animated animate__backInLeft animate__delay-2s">
      <span class="bold fz-25">
        {{ "about.message" | translate }}
      </span>
      <p class="second-text mt-3 mb-3">
        {{ "about.p2" | translate }}
      </p>
      <span class="bold fz-25">
        {{ "about.vision" | translate }}
      </span>
      <p class="second-text mt-3 mb-3">
        {{ "about.p3" | translate }}
      </p>
      <span class="bold fz-25">
        {{ "about.goles" | translate }}
      </span>
      <p class="second-text mt-3">
        {{ "about.p4" | translate }}
      </p>
       <p class="second-text mt-3">
        {{ "about.p5" | translate }}
      </p>
       <p class="second-text mt-3">
        {{ "about.p6" | translate }}
      </p>
       <p class="second-text mt-3">
        {{ "about.p7" | translate }}
      </p>
    </div>
  </div>
</div>
