<div class="page" id="about">
  <h1 class="primary-text mt-3 hidden">about</h1>

   <div class="row">
    <div class="col-md-6 col-lg-6 col-sm-12">
        <img src="assets/images/about-us.svg" width="100%" height="auto"  alt="">
    </div>
    <div class="mt-3 col-md-6 col-lg-6 col-sm-12">
        <span class="second-text">لماذا نحن ؟</span>

        <p class="primary-text mt-3">حلول تكنولوجية مبتكرة لتعزيز أداء الشركات وتحقيق أهدافها الرقمية</p>
      <hr>
        <span class="bold fz-25">رسالتنا</span>
      <p class="second-text mt-3">نهدف لتقديم حلول برمجية مرنة ومتطورة تلبي احتياجات السوق المحلية والدولية، مع التركيز على الجودة والابتكار لتحقيق نجاح مشترك</p>
      <span class="bold fz-25">رؤيتنا</span>
      <p class="second-text mt-3">أن نكون رواداً في تقديم حلول تكنولوجية مبتكرة تُحدث فارقاً حقيقياً في السوق، وتساهم في دفع عجلة النمو والتحول الرقمي.</p>
      
    </div>
   </div>
</div>